@import url("https://unpkg.com/tailwindcss@^2/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.cursive{
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.pose img{
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name{
  font-size: 150px;
}

.splash{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
 
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 90vh;
}

@keyframe fadeInto {
  to{
    opacity: 1;
  }

}

.fade-in{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
